*.git
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.launch
/bin
/build
/config
/crash-reports
/eclipse
/logs
/mods
/resourcepacks
/run
/saves
usernamecache.json
usercache.json
options.txt
.classpath
