*.git
*.properties
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.gradle
/bin
/build
/config
/crash-reports
/eclipse
/logs
/mods
/resourcepacks
/run
/saves
usernamecache.json
usercache.json
RetroBees_Server.launch
RetroBees_Client.launch
options.txt
.classpath
