*.git
*.properties
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.gradle
/bin
/build
/config
/crash-reports
/eclipse
/logs
/mods
/resourcepacks
/run
/saves
usernamecache.json
usercache.json
ProjectE-1.10.2-PE1.3.0.jar
RetroBeesMC_Server.launch
RetroBeesMC_Client.launch
options.txt
.classpath
